{
  "openapi": "3.0.3",
  "info": {
    "title": "Smart Heating API",
    "version": "1.0.0",
    "description": "Read access to buildings and their rooms, and updates to room settings.\n\nRooms are shaped like a Home Assistant climate entity - `current_temperature`,\n`target_temperature`, `hvac_mode`, `hvac_action`, `preset_mode` - so an\nintegration can map one onto the other directly. Field names are snake_case\nthroughout.\n\n## Authentication\n\nEvery request needs an API key in the `x-api-key` header. Keys are issued\nper integration; contact us to get one. A key is scoped to a fixed set of\nbuildings, and to a set of permissions (`buildings:read`, `buildings:write`).\n\n## Responses\n\nSuccessful responses carry the resource itself: an object for a single\nbuilding or room, an array for a collection. Errors carry an `error`\nobject instead; the HTTP status tells the two apart.\n\n## Sensors\n\nA room's readings are lifted onto the room as `current_temperature` and\n`current_humidity`. The `sensor` object keeps the raw values, including\nbattery level and signal strength, which belong on their own entities.\nBoth are `null` when no sensor is assigned or it has never reported.\n\n## Availability\n\nA building carries `available` and `last_seen`, rolled up from the\nheartbeats of its gateways. `available` is `null` - not `false` - when no\ngateway has ever reported, which is a different situation from one that has\nstopped.\n\n## Turning a room off\n\nSet `hvac_mode` to `off`. There is no separate on/off switch: this holds the\nroom at zero power, and reads back as `manual_power.enabled` with\n`power: 0`.\n\n## Not found vs. forbidden\n\nA building or room that exists but is not covered by your key returns `404`,\nnot `403`. This is deliberate, so that ids cannot be discovered by probing.\n"
  },
  "servers": [
    {
      "url": "https://api.smart-gulvvarme.dk/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "buildings"
    },
    {
      "name": "rooms"
    },
    {
      "name": "meta"
    }
  ],
  "paths": {
    "/openapi.yaml": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "This specification, as YAML",
        "operationId": "getSpecYaml",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document",
            "content": {
              "application/yaml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "meta"
        ],
        "summary": "This specification, as JSON",
        "operationId": "getSpecJson",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/buildings": {
      "get": {
        "tags": [
          "buildings"
        ],
        "summary": "List the buildings this key can reach",
        "operationId": "listBuildings",
        "responses": {
          "200": {
            "description": "The buildings covered by the key. Empty if it covers none.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Building"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/buildings/{buildingId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BuildingId"
        }
      ],
      "get": {
        "tags": [
          "buildings"
        ],
        "summary": "Get one building",
        "operationId": "getBuilding",
        "responses": {
          "200": {
            "description": "The building",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Building"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/buildings/{buildingId}/rooms": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BuildingId"
        }
      ],
      "get": {
        "tags": [
          "rooms"
        ],
        "summary": "List the rooms of a building",
        "description": "Each room includes the readings of its assigned sensor.",
        "operationId": "listRooms",
        "responses": {
          "200": {
            "description": "The rooms of the building",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Room"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/buildings/{buildingId}/rooms/{roomId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BuildingId"
        },
        {
          "$ref": "#/components/parameters/RoomId"
        }
      ],
      "get": {
        "tags": [
          "rooms"
        ],
        "summary": "Get one room",
        "operationId": "getRoom",
        "responses": {
          "200": {
            "description": "The room",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "rooms"
        ],
        "summary": "Update room settings",
        "description": "Updates only the fields present in the body; everything else is left\nalone. Requires the `buildings:write` permission.\n\nChanging a room's settings makes the heating engine recalculate that\nroom, so `power` and `heating` may change shortly after this call\nreturns. They cannot be set directly.\n",
        "operationId": "updateRoom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomUpdate"
              },
              "examples": {
                "setpoint": {
                  "summary": "Change the target temperature",
                  "value": {
                    "target_temperature": 21.5
                  }
                },
                "turnOff": {
                  "summary": "Turn the room off",
                  "value": {
                    "hvac_mode": "off"
                  }
                },
                "turnOn": {
                  "summary": "Hand the room back to the heating engine",
                  "value": {
                    "hvac_mode": "heat"
                  }
                },
                "preset": {
                  "summary": "Change the comfort preset",
                  "value": {
                    "preset_mode": "medium"
                  }
                },
                "manualPower": {
                  "summary": "Take manual control, open 40% of the time",
                  "value": {
                    "manual_power": {
                      "enabled": true,
                      "power": 0.4
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated room",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "BuildingId": {
        "name": "buildingId",
        "in": "path",
        "required": true,
        "description": "The building's id.",
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]+$"
        },
        "example": "bbd508c9-42aa-4bc5-9981-a5b523d65aca"
      },
      "RoomId": {
        "name": "roomId",
        "in": "path",
        "required": true,
        "description": "The room's id.",
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9_-]+$"
        },
        "example": "5e2db47e-474c-4591-90ca-ba8d033612d1"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request body failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "invalid_argument",
                "message": "These fields are not writable: floorType"
              }
            }
          }
        }
      },
      "Unauthenticated": {
        "description": "The API key is missing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "unauthenticated",
                "message": "Missing API key. Send it in the x-api-key header."
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key is unknown, disabled, or lacks the required permission.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "permission_denied",
                "message": "This API key is missing the buildings:write scope."
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "No such resource, or it is not covered by this key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "No such building: bbd508c9-42aa-4bc5-9981-a5b523d65aca"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_argument",
                  "unauthenticated",
                  "permission_denied",
                  "not_found",
                  "internal"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "nullable": true,
        "properties": {
          "lat": {
            "type": "number",
            "format": "double",
            "example": 56.1629
          },
          "lng": {
            "type": "number",
            "format": "double",
            "example": 10.2039
          }
        }
      },
      "Wind": {
        "type": "object",
        "nullable": true,
        "properties": {
          "direction": {
            "type": "number",
            "description": "Degrees, 0 is north.",
            "example": 270
          },
          "speed": {
            "type": "number",
            "description": "Metres per second.",
            "example": 4.2
          }
        }
      },
      "Weather": {
        "type": "object",
        "nullable": true,
        "description": "Last observed outdoor conditions for the building.",
        "properties": {
          "updated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "temperature": {
            "type": "number",
            "nullable": true,
            "description": "Degrees Celsius."
          },
          "cloud_coverage": {
            "type": "number",
            "nullable": true,
            "description": "Percent, 0-100."
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          }
        }
      },
      "Building": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "bbd508c9-42aa-4bc5-9981-a5b523d65aca"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Hjemme"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "available": {
            "type": "boolean",
            "nullable": true,
            "readOnly": true,
            "description": "Whether the building's hardware has reported recently. null means no gateway has ever reported, which is not the same as offline."
          },
          "last_seen": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "description": "Newest heartbeat across the building's gateways."
          },
          "weather": {
            "$ref": "#/components/schemas/Weather"
          }
        }
      },
      "Sensor": {
        "type": "object",
        "nullable": true,
        "description": "Latest readings from the sensor assigned to the room.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The sensor's MAC address.",
            "example": "58:2D:34:35:D5:A0"
          },
          "temperature": {
            "type": "number",
            "nullable": true,
            "description": "Degrees Celsius.",
            "example": 22.7
          },
          "humidity": {
            "type": "number",
            "nullable": true,
            "description": "Relative humidity in percent.",
            "example": 50.1
          },
          "batt": {
            "type": "number",
            "nullable": true,
            "description": "Battery level in percent.",
            "example": 98
          },
          "rssi": {
            "type": "number",
            "nullable": true,
            "description": "Signal strength in dBm.",
            "example": -88
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the sensor last reported."
          }
        }
      },
      "ManualPower": {
        "type": "object",
        "description": "Overrides the computed heating power for the room.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "example": false
          },
          "power": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "minimum": 0,
            "maximum": 1,
            "description": "Share of the time the valve is held open, from 0 to 1 - see the power field on Room. Only used when enabled is true."
          }
        }
      },
      "Room": {
        "type": "object",
        "description": "A room, shaped like a Home Assistant climate entity.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "5e2db47e-474c-4591-90ca-ba8d033612d1"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "example": "Stue"
          },
          "current_temperature": {
            "type": "number",
            "nullable": true,
            "readOnly": true,
            "description": "Latest temperature from the room's sensor, in degrees Celsius.",
            "example": 22.7
          },
          "current_humidity": {
            "type": "number",
            "nullable": true,
            "readOnly": true,
            "description": "Latest relative humidity from the room's sensor, in percent.",
            "example": 50.1
          },
          "target_temperature": {
            "type": "number",
            "nullable": true,
            "minimum": 7,
            "maximum": 35,
            "description": "The temperature the room is aiming for, in degrees Celsius.",
            "example": 21.5
          },
          "min_temp": {
            "type": "number",
            "readOnly": true,
            "description": "Lowest settable target temperature.",
            "example": 7
          },
          "max_temp": {
            "type": "number",
            "readOnly": true,
            "description": "Highest settable target temperature.",
            "example": 35
          },
          "hvac_mode": {
            "type": "string",
            "enum": [
              "heat",
              "off"
            ],
            "description": "\"off\" means the room is held at zero power. Writing this field is the way to stop or restart a room."
          },
          "hvac_modes": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "enum": [
                "heat",
                "off"
              ]
            }
          },
          "hvac_action": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "heating",
              "idle",
              "off"
            ],
            "description": "What the room is doing now. \"idle\" means on but not currently calling for heat; \"off\" means the room is stopped."
          },
          "preset_mode": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "low",
              "medium",
              "high"
            ]
          },
          "preset_modes": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "enum": [
                "none",
                "low",
                "medium",
                "high"
              ]
            }
          },
          "manual_power": {
            "$ref": "#/components/schemas/ManualPower"
          },
          "power": {
            "type": "number",
            "nullable": true,
            "readOnly": true,
            "minimum": 0,
            "maximum": 1,
            "description": "How much of the time the heating is open. The controller opens and closes the actuator within a fixed time window, and this value is the share of that window the valve stays open: 0.5 means open half the time. The window length depends on the room's floor type and on system configuration.",
            "example": 0.42
          },
          "sensor_id": {
            "type": "string",
            "nullable": true,
            "description": "Id of the assigned sensor.",
            "example": "58:2D:34:35:D5:A0"
          },
          "sensor": {
            "$ref": "#/components/schemas/Sensor"
          }
        }
      },
      "RoomUpdate": {
        "type": "object",
        "minProperties": 1,
        "additionalProperties": false,
        "description": "Only these fields can be written. Any other field in the body is\nrejected with `400` rather than silently ignored.\n\nSending both `hvac_mode` and `manual_power` applies `hvac_mode` last, so\nthe result does not depend on key order.\n",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "target_temperature": {
            "type": "number",
            "minimum": 7,
            "maximum": 35
          },
          "preset_mode": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high"
            ]
          },
          "hvac_mode": {
            "type": "string",
            "enum": [
              "heat",
              "off"
            ]
          },
          "manual_power": {
            "$ref": "#/components/schemas/ManualPower"
          },
          "sensor_id": {
            "type": "string",
            "description": "Must be a sensor that exists in the same building."
          }
        }
      }
    }
  }
}